<% title "Setup and Configuration" %>

<br/>

<div style="text-align: left; width: 100%; font-size: 12pt">
	<b>Warning:</b> For your protection, access to Metasploit is limited to the <a href="https://<%= @server_url %>/">local host</a> until the initial user account has been configured. The initial user account can be created manually by launching the "diagnostic_shell" script in the base of the installation and executing "ruby [INSTALL_PATH]/apps/pro/ui/script/createuser".
	<br/>
</div>

