#overview
  %div{:id => "detailed", :class => "tab_panel"}
    %form
      %div{:class => "stepLead", :style => "width: 100%;"}
        .step
          %h3 Engine Configuration
          %div{:class => 'stepInfo', :style => 'min-height: 50px;'}
            %table{:id => "events", :class => "list"}

              %tr{:class => "odd"}
                %td{:width => "1"}
                  %b Scan history polling
                %td{:width => "1"}
                  = @scan_history_polling.to_s + '  ' + @time_frame
              %tr{:class => "even"}
                %td{:width => "1"}
                  %b NSC Polling Time
                %td{:width => "1"}
                  = @nsc_polling.to_s
            .btnRow
              .btn
            = link_to 'Edit',  :controller => "integer_property", :action => "edit"