<p id="notice"><%= notice %></p>

<p>
  <b>Mappings:</b>
  <%= @remedy_ticket_config.mappings %>
</p>


<%= link_to 'Edit', edit_remedy_ticket_config_path(@remedy_ticket_config) %> |
<%= link_to 'Back', remedy_ticket_configs_path %>
