%div{:class => 'infoAlert' }
	%b{:style => "color:black;horizontal-align:center"}
		Authentication
	%p
		%i
			No header authentication was detected for your SOAP endpoint, select basic authentication if
			this is the type of authentication your system supports.